/* Optional custom styling */
.navbar {
  padding: 1rem 2rem;
}

.custom-button {
  background-color: #d85999; /* Custom button color */
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
}

.custom-button:hover {
  background-color: #000000; /* Slightly darker color on hover */
  color: #fff;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

/* Styling for active link */
.nav-link.active {
  color: orange !important; /* Orange color for active link */
  /* font-weight: bold; */
  text-decoration: underline; 
}

/* Other styling for links */
.nav-link {
  color: white;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.nav-link:hover {
  color: orange; /* Change color on hover */
}
